<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyu.project.mapper.UserInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.fanyu.fanyucommon.model.entity.UserInterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="interfaceInfoId" column="interfaceInfoId" jdbcType="BIGINT"/>
            <result property="totalNum" column="totalNum" jdbcType="INTEGER"/>
            <result property="leftNum" column="leftNum" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,interfaceInfoId,
        totalNum,leftNum,status,
        createTime,updateTime,isDelete
    </sql>
    <select id="listTopInvokeInterfaceInfo" resultType="com.fanyu.fanyucommon.model.entity.UserInterfaceInfo">
        select interfaceInfoId, sum(totalNum) as totalNum from user_interface_info group by interfaceInfoId
        order by totalNum desc limit #{limit};
    </select>
    <select id="listUserInterfaceInfoId" resultType="com.fanyu.project.model.vo.UserInterfaceInfoVO"
            parameterType="com.fanyu.project.model.dto.userinterfaceinfo.UserInterfaceInfoQueryRequest">
        SELECT u.*,name as interfaceInfoName
        FROM user_interface_info u
        JOIN `interface_info` o on o.Id = interfaceInfoId
        WHERE 1=1
        <if test="id !=null ">
            AND u.id=#{id}
        </if>
        <if test="userId !=null ">
            AND u.userId=#{userId}
        </if>
        <if test="interfaceInfoId !=null ">
            AND interfaceInfoId=#{interfaceInfoId}
        </if>
        <if test="totalNum !=null ">
            AND u.totalNum=#{totalNum}
        </if>
        <if test="leftNum !=null ">
            AND leftNum=#{leftNum}
        </if>
        <if test="status !=null ">
            AND u.status=#{status}
        </if>
        <if test="num !=null and page != null">
            LIMIT #{num},#{page};
        </if>
    </select>
</mapper>
